#container {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}
  
form {
    width: 50%;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
  }
  
input[type="text"],
input[type="email"],
input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
label {
    margin-right: 10px;
  }
  
button[type="submit"]
{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
#output {
    width: 50%;
    margin-left: 20px;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow:hidden;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
  }
  th {
    background-color: #4CAF50;
    color: #fff;
  }
.btn{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}